/* CSS Document */

	
	
    th{
		border-bottom:1px solid #7F7777;
		
		padding:3px 10px;
		text-align:left;
		}
	table{
		border-collapse:collapse;
		width:230px;
		clear:both;
		}
	td{
		padding:3px 10px;
		}
	.odd{
		background:#F0EFEF;
		}
	.even{
		background:#E8DDDE;
		}
	 ul{
		  list-style-type:none;
		  }
	li{
		
	 float:left;
	 margin:0 3px;
	 padding:0 1px;
	 cursor:pointer;	
		}
	#twoo{
		width:230px;
		height:25px;
		line-height:25px;
		

	   background:#D1CCCC;
		}
		.head{
			background:#8A7677;
			}
	

#twoo .twoo_1 {
	
	padding-left:7px;
}
.head_5 {
	width:230px;
	height:23px;
	background:#ababab;
	line-height:23px;
}
.head_5 li {
	font-size:12px;
	color:#631815;
	font-weight:bold;
}
#last {
	clear:both;
	margin-top:30px;
}
